<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Cart - Elite Auto Tuning</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">ELITE TUNING</div>
        <div class="nav-links">
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'shop' %}">Shop</a>
          <a href="{% url 'book' %}">Book</a>
          <a href="{% url 'cart' %}">My Cart (<span id="cart-count">{{cartItems}}</span>)</a>
        </div>  
          <div class="nav-right">
              {% if request.user.is_authenticated %}
                  <a href="{% url 'account' %}" class="hello-link">Hello, {{request.user}}</a>
                  <a href="{% url 'logout' %}" class="logout-link">Logout</a>
              {% else %}
                  <a href="{% url 'login' %}" class="logout-link">Login</a>
              {% endif %}
          </div>
      </nav>
      

      <script type="text/javascript">
        var user = '{{request.user}}'
      </script>


    </header>

    <main>
       <div class="cart-header">
            <h1>My Cart</h1>
            <a href="{% url 'shop' %}" class="continue-shopping">
              <button class="checkout-btn">CONTINUE SHOPPING</button>
            </a>
        </div>
        
        <div class="cart-items">
            <div class="cart-column-headers">
                
                <div>Item Name</div>
                <div>Price</div>
                <div>Quantity</div>
                <div>Total</div>
                
            </div>
            {% for item in items %}
            <div class="cart-item">
                <img src="{{item.product.imageURL}}" alt="{{item.product.name}}" class="item-image">
                <div class="item-name">{{item.product.name}}</div>
                <div class="item-price">{{item.product.price}}</div>
                <button data-product={{item.product.id}} data-action="remove" class="quantity-btn minus update-cart" >-</button>
                <div class="item-quantity">{{item.quantity}}</div>
                <button data-product={{item.product.id}} data-action="add" class="quantity-btn plus update-cart">+</button>
                <div class="item-total">${{item.get_total}}</div>
                <div class="item-remove"><button data-product="{{item.product.id}}" data-action="delete" class="remove-btn update-cart">REMOVE</button></div>
            </div>
            {% endfor %}
            
        </div>
        
        <div class="cart-summary-container">
            <div class="cart-summary">
                <div class="summary-item">
                    <span>Total Items:</span>
                    <span>{{order.get_cart_items}}</span>
                </div>
                <div class="summary-item">
                    <span>Total Price:</span>
                    <span>${{order.get_cart_total}}</span>
                </div>
            </div>
            <a href="{% url 'shopcheckout' %}" class="proceed-to-checkout">
            <button class="checkout-btn">PROCEED TO CHECKOUT</button>
            </a>
        </div>
    </main>


    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

   
</body>
</html>
    <!--<script src="{% static 'js/shop.js' %}"></script>
    <script src="{% static 'js/cart.js' %}"></script>-->

